interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.mapillary.com/images?access_token=MLY%7CTEST%7CTEST&bbox=-71.105100%2C42.371900%2C-71.104900%2C42.372100&fields=id%2Ccaptured_at%2Ccompass_angle%2Ccamera_parameters%2Cthumb_1024_url&limit=10
  response:
    body:
      string: '{"data":[{"id":"518183942697709","captured_at":1507724311120,"compass_angle":210.63989257812,"camera_parameters":[0.82647945437437,0.037752529974159,-0.057387974550128],"thumb_1024_url":"https:\/\/scontent-dfw6-1.xx.fbcdn.net\/m1\/v\/t6\/An87TdarMaokLu799GhAMSbHe0qH65iB9_sdCcySWPX5kC640yt3j5Vb8CqsHqng_55T0PtWN_tJF5vNwuAUL5MBO9_4fE8konuceyXaDs9MJqtWpEkaMolhm3LgqSOpIaWtTo3h8JVtb5mwnnqLhA?stp=s1024x768&edm=AOnQwmMEAAAA&_nc_gid=9SA8CmNG4j4o5WwqtFcmUA&_nc_oc=AdrH7bQrVJIsAQjcMyUFEwRyrKoVtDFJ8IwSL9gsq8hPrUBMVH31VniumcbXbU-gMys&ccb=10-5&oh=00_Af5HjX4vMCBIXgbjvIN4dA54lVIJF5bJ8KLLXv2ReNyS4g&oe=6A2CD55A&_nc_sid=201bca"},{"id":"304749637716194","captured_at":1507724310126,"compass_angle":2[...]
[...]
