interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.mapillary.com/images?access_token=MLY%7CTEST%7CTEST&bbox=-71.105100%2C42.371900%2C-71.104900%2C42.372100&fields=id%2Ccaptured_at%2Ccompass_angle%2Ccamera_parameters%2Cthumb_1024_url&limit=10
  response:
    body:
      string: '{"data":[{"id":"513915663266359","captured_at":1577033217084,"compass_angle":211.31677246094,"camera_parameters":[1.1165708795912,0.00085993218302222,0.00016367701498317],"thumb_1024_url":"https:\/\/scontent-dfw6-1.xx.fbcdn.net\/m1\/v\/t6\/An88P2M4qc8ukjRTnYDEPjD04jvchQo0ILFmQRAtVy_Ez1lYge4ictvufiY-FUnJkA7CAQzLsUFP8RH_IBjbQmG_lO_19UTimDY_z006f5HdjjPu0x7i4askxbw6wq27H9iZX9wPmW9fTYL6rO5ITQ?stp=s1024x768&edm=AOnQwmMEAAAA&_nc_gid=a8l5Npt1hswo8QRuXrOAhA&_nc_oc=AdpozZUR28Uhx2Q08o5oPWDWOhZVnjxjchWq7O6R7PmYjF_tDv72rYaTITS1zse4Jf4&ccb=10-5&oh=00_Af7huubhNlXDWYEMhB2SAuewvLwaDd6QCYzEc5A6_rzqgg&oe=6A2CD5BE&_nc_sid=201bca"},{"id":"304749637716194","captured_at":1507724310126,"compass_angle":2[...]
