interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gis.massdot.state.ma.us/arcgis/rest/services/CrashClosedYear/CrashClosedYear2019/FeatureServer/0/query?where=1%3D1&geometry=-71.165000%2C42.355000%2C-71.066000%2C42.408000&geometryType=esriGeometryEnvelope&inSR=4326&outFields=CRASH_NUMB%2CCRASH_DATE%2CCRASH_SEVERITY_DESCR%2CMAX_INJR_SVRTY_CL%2CLAT%2CLON&returnGeometry=true&outSR=4326&resultRecordCount=1000&resultOffset=0&f=json
  response:
    body:
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"CRASH_NUMB","alias":"Crash
        Number","type":"esriFieldTypeInteger"},{"name":"CRASH_DATE","alias":"Crash
        Date-Time Accurate When Exported","type":"esriFieldTypeDate","length":8},{"name":"CRASH_SEVERITY_DESCR","alias":"Crash
        Severity","type":"esriFieldTypeString","length":64},{"name":"MAX_INJR_SVRTY_CL","alias":"Max
        Injury Severity Reported","type":"esriFieldTypeString","length":64},{"name":"LAT","alias":"Latitude","type":"esriFieldTypeDouble"},{"name":"LON","alias":"Longitude","type":"esriFieldTypeDouble"}],"features":[{"attributes":{"CRASH_NUMB":4644656,"CRASH_DATE":1546344420000,"CRASH_SEVERITY_DESCR":"Non-fatal
        injury","MAX_INJR_SVRTY_CL":"Non-fatal injury - Non-incapacitating","LAT":42.36896568,"LON":-71.08031018},"geometry":{"x":-71.080310783079128,"y":42.368974352853805}},{"attributes":{"CRASH_NUMB":4645993,"CRASH_DATE":1546309740000,"CRASH_SEVERITY_DESCR":"Non-fatal
        injury","MAX_INJR_SVRTY_CL":"Non-fatal injury - Non-incapacitating","LAT":42.37338549,"LON":-71.09810612},"geometry":{"x":-71.098106724166186,"y":42.373394164616599}},{"attributes":{"CRASH_NUMB":4646031,"CRASH_DATE":1546437060000,"CRASH_SEVERITY_DESCR":"Property
        damage only (none injured)","MAX_INJR_SVRTY_CL":"No injury","LAT":42.38685[...]
[...]
